{% extends "base.html" %}

{% block content %}

<div class="container">
    <h1 class="text-primary py-3">Course Analysis</h1>

    <table class="table table-bordered py-3 w-50">
    <tr>
        <th class="table-primary">Course Name</th>
        <td>{{ activity_name }}</td>
      </tr>
  </table>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <canvas id="elevation_chart"></canvas>
    </div>
    <div class="col">
      <canvas id="steepness_chart"></canvas>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <canvas id="ascent_chart"></canvas>
    </div>
    <div class="col">
      <canvas id="descent_chart"></canvas>
    </div>
  </div>
</div>
<div class="container">
  <table class="table">
    <tr class=" table-primary">
        <th>KM</th>
        <th>Ascent</th>
        <th>Descent</th>
        <th>Steepness</th>
      </tr>
    {% for segment in data['segments'] %}
      <tr>
        <td>{{loop.index}}</td>
        <td>{{segment['ascent']}}</td>
        <td>{{segment['descent']}}</td>
        <td>{{segment['steepness']}}</td>
      </tr>
    {% endfor %}
  </table>
</div>
<script src="{{ url_for('static', filename='js/chart.js') }}"></script>
<script>
    updatePlot({{data['elevation_label']}}, {{data['elevation']}}, "elevation_chart", "Elevation");
    updatePlot({{data['label']}}, {{data['steepness']}}, 'steepness_chart', 'Steepness');
    updatePlot({{data['label']}}, {{data['ascent']}}, 'ascent_chart', 'Ascent');
    updatePlot({{data['label']}}, {{data['descent']}}, 'descent_chart', 'Descent');
</script>
{% endblock %}