{% extends "base.html" %}
{% block imports %}
{% endblock %}

{% block content %}
<div class="container">
  <h1 class="text-center">Select your a course!</h1>
  <div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
      Select Course
    </a>

    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <li><h6>Common courses</h6></li>
      <li><h6>Your courses</h6></li>
      {% for file in files %}
        <li><a class="dropdown-item" href="/analyze/course?f={{file}}">{{ file }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}