{% extends "base.html" %}
{% block imports %}
<script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css"/>
{% endblock %}

{% block content %}
<div class="container">
  <h1 class="text-center">Welcome to GPX Stats</h1>
  <p class="text-center">Start by uploading a past performance or a planned course.</p>
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Analyze Performance
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <form action="/upload_performance_file" class="dropzone" id="performance"></form>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Analyze Course Profile
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <form action="/upload_course_file" class="dropzone" id="course"></form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  Dropzone.options.performance = {
    init: function() {
      this.on("addedfile", file => {
        console.log("A file has been added");
      });
      this.on("success", (file, response) => {
        alert("File upload successful.");
        window.location.replace(response);
      });
      this.on("error", (file, response) => {
          alert(response);
      });
    }
  };

  Dropzone.options.course = {
    init: function() {
      this.on("addedfile", file => {
        console.log("A file has been added");
      });
      this.on("success", (file, response) => {
        alert("File upload successful.");
        window.location.replace(response);
      });
      this.on("error", (file, response) => {
          alert(response);
      });
    }
  };
</script>
{% endblock %}