{% extends "base.html" %}
{% block imports %}
{% endblock %}

{% block content %}
<div class="container text-center py-5">
  <h1 class="text-center">Review one of your performances!</h1>
  <div class="dropdown py-5">
    <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
      Select Performance
    </a>

    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      {% for file in files %}
        <li><a class="dropdown-item" href="/analyze/performance?f={{ file }}&t=60">{{ file }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}