{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="text-primary py-3">Performance Analysis</h1>

    <table class="table table-bordered py-3 w-50">
    <tr>
        <th class="table-primary">Run Name</th>
        <td id="activityName">{{ activity_name }}</td>
      </tr>
      <tr>
          {% if segment_time %}
            <th class="table-primary">Segment Time:</th>
            <td>{{ segment_time }}</td>
          {% elif segment_distance %}
            <th class="table-primary">Segment Distance</th>
            <td>{{ segment_distance }}</td>
          {% endif %}
      </tr>
  </table>
</div>

<div class="container">
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <i class="bi bi-gear-fill px-2"></i>
                Settings
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="col-12">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="radioSegmentType" id="radioDistance" value="distance" checked>
                        <label class="form-check-label" for="radioDistance">Distance</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="radioSegmentType" id="radioTime" value="time">
                        <label class="form-check-label" for="radioTime">Time</label>
                    </div>
                </div>
                <div class="col-6 position-relative text-center">
                    <output id="distanceSelected" class="mx-auto">400</output>
                    <input type="range" class="form-range" min="100" max="2000" step="100" value=400 id="distanceRange" oninput="distanceSelected.value = this.value">
                </div>
                <div class="col-6 position-relative text-center">
                    <output id="timeSelected" class="mx-auto">60</output>
                    <input type="range" class="form-range" min="10" max="180" step="10" value=60 id="timeRange" oninput="timeSelected.value = this.value" disabled>
                </div>
                <div class="col-12">
                    <button class="btn btn-primary" onclick="recalculate()">
                        <i class="bi bi-play-fill px-1"></i>
                        Recalculate</button>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <canvas id="performance_chart"></canvas>
    </div>
    <div class="col">
      <canvas id="vam_chart"></canvas>
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='js/chart.js') }}"></script>
<div class="container">
  <table class="table">
    <tr class=" table-primary">
        <th>Segment Number</th>
        <th>Time</th>
        <th>Distance</th>
        <th>Ascent</th>
        <th>Descent</th>
        <th>HR</th>
        <th>GAP</th>
        <th>Performance</th>
        <th>VAM</th>
      </tr>
    {% for segment in data['segments'] %}
      <tr>
        <td>{{loop.index}}</td>
        <td>{{segment['duration']}}</td>
        <td>{{segment['distance']}}</td>
        <td>{{segment['ascent']}}</td>
        <td>{{segment['descent']}}</td>
        <td>{{segment['hr']}}</td>
        <td>{{segment['gap']}}</td>
        <td>{{segment['performance']}}</td>
        <td>{{segment['vam']}}</td>
      </tr>
    {% endfor %}
  </table>
</div>
<script>
    updatePlot({{data['nr']}}, {{data['performance']}}, "performance_chart", "Performance");
    updatePlot({{data['nr']}}, {{data['vam']}}, "vam_chart", "VAM");
</script>
<script src="{{ url_for('static', filename='js/performance.js') }}"></script>
{% endblock %}